table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

table th {
  font-size: 16px;
  color: black;
  background-color: #007bff !important;
}

td, th {
  width: 25%;
}
